.card {
  border-radius: 12px;
  height: 126px;
  width: 286px;
  color: white;
}
.wrapper{
  width: auto;
  height: auto;
  margin: 0 auto;
  /*position: relative;*/
  background-color: red;
  display: flex;
  border: 1px solid black;
}
.left{
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  border: 1px solid black;
}
.right{
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  border: 1px solid black;
}
.card-red {
  background-color: red;
}
